# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool:
  name: Self-hosted

stages:
  - stage: terraform_plan
    displayName: plan

    jobs:
      - job: init
        displayName: init
        steps:
        
        - task: TerraformInstaller@1
          inputs:
           terraformVersion: 'latest'
        
        - task: TerraformTask@5
          displayName: init
          inputs:
            provider: 'azurerm'
            command: 'init'
            backendServiceArm: 'Azure subscription 1(fe06a0e7-54dc-4c6b-8a8c-7ddf810abb4e)'
            backendAzureRmStorageAccountName: 'ashishstorage07'
            backendAzureRmContainerName: 'state'
            backendAzureRmKey: 'state.tfstate'

     
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            environmentServiceNameAzureRM: 'Azure subscription 1(fe06a0e7-54dc-4c6b-8a8c-7ddf810abb4e)'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'apply'
            environmentServiceNameAzureRM: 'Azure subscription 1(fe06a0e7-54dc-4c6b-8a8c-7ddf810abb4e)'


  
        

